# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
db.sqlite3

# Игнорировать файлы и директории, создаваемые IDE и редакторами
*.idea/
*.vscode/

# Игнорировать виртуальные окружения
myenv/
venv/
*.venv/
*.virtualenv/

# Игнорировать файлы, связанные с базой данных (если вы используете SQLite)
*.sqlite3

# Игнорировать статические и медиа-файлы (в зависимости от вашей структуры проекта)
# static/
# media/

# Игнорировать файлы, создаваемые системой
.DS_Store
*.log

# Игнорировать директорию с локальными конфигурациями
local_settings/

# Для использования с PyCharm
.idea/

# Игнорировать файлы Node (если вы используете)
node_modules/
